<meta charset="utf-8">
<meta name="active-menu" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">                    <!--Using bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<!-- Favicon -->
<link href="img/favicon.ico" rel="shortcut icon"/>
<!-- Stylesheets -->
<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="./css/font-awesome.min.css"/>
<link rel="stylesheet" href="./css/flaticon.css"/>
<link rel="stylesheet" href="./css/slicknav.min.css"/>
<link rel="stylesheet" href="./css/jquery-ui.min.css"/>
<link rel="stylesheet" href="./css/owl.carousel.min.css"/>
<link rel="stylesheet" href="./css/animate.css"/>
<link href="./css/styleHome.css" rel="stylesheet" type="text/css">
<link href="/css/editprofile.css" rel="stylesheet" type="text/css">


<title>ALGOR Website</title>


<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="/index" class="site-logo">
                        <img src="./image/logo.png" alt="">
                    </a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <form class="header-search-form" method="GET" action="/stores">
                        <input type="text" class="form-control" placeholder="Search for fashion..." name="search" required>
                        <button><i class="flaticon-search"></i></button>
                    </form>
                </div>
                <div class="up-item">

                    <a href="/about" >About us &nbsp;</a>


                </div>


                <div class="subUser">
                    <div class="col-xl-4 col-lg-5">
                        <div class="user-panel">
                            <div class="up-item">

                                <li ><h5 href="#"> &nbsp;&nbsp;<i class="flaticon-profile"></i>  &nbsp;</h5>
                                    <ul class="sub-menu">
                                        <li> <a href="/editprofile"><i class="flaticon-file"></i>Edit Profile</a></li>
                                        <li><a><i class="flaticon-settings"></i>My Settings</a></li>
                                        <li><a  class="wishlist-btn"><i class="flaticon-heart"></i>My Wishlist</a></li>
                                        <div class ="logout">
                                            <li><a><form action="/logout?_method=DELETE" method="POST">
                                                        <button type="submit">Log Out</button>
                                                    </form></a></li>
                                        </div>

                                    </ul>
                                </li>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</header>

    <meta charset="utf-8">
    <meta name="active-menu" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">