<!-- Footer -->
<!-- Footer section -->
<section class="footer-section">
    <div class="container">
        <div class="footer-logo text-center">
            <a href="index.html"><img src="./img/logo-light.png" alt=""></a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>About</h2>
                    <p> Shopoint is funded and created by ALGOR company. We envision a world where students and brands work together to build a better future.. </p>
                    <img src="./image/cards.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Information</h2>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a >Discount</a></li>
                        <li><a >Returns</a></li>
                        <li><a >A student</a></li>
                        <li><a >A retailer</a></li>
                        <li><a >College staff</a></li>
                    </ul>
                    <ul>
                        <li><a >Partners</a></li>
                        <li><a >Bloggers</a></li>
                        <li><a >Support</a></li>
                        <li><a >Terms of Use</a></li>
                        <li><a >Press</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Questions</h2>
                    <div class="fw-latest-post-widget">
                        <div class="lp-item">
                            <div class="lp-content">
                                <h6>what shoes to wear</h6>
                                <span>Oct 21, 2019</span>
                                <a  class="readmore">Read More</a>
                            </div>
                        </div>
                        <div class="lp-item">
                            <div class="lp-content">
                                <h6>trends this year</h6>
                                <span>Oct 21, 2018</span>
                                <a  class="readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h2>Details</h2>
                    <div class="con-info">
                        <span>C.</span>
                        <p>ALGOR Ltd </p>
                    </div>
                    <div class="con-info">
                        <span>B.</span>
                        <p>Melbourne Australia 3000 </p>
                    </div>
                    <div class="con-info">
                        <span>T.</span>
                        <p>+61 421 488 355</p>
                    </div>
                    <div class="con-info">
                        <span>E.</span>
                        <p>office@algor.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="social-links-warp">

        <div class="container">

            <div class="social-links">
                <a class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
                <a class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a  class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <a class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
            </div>
            <!-- Grid row-->





            <!-- Grid row-->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="" target="_blank">ALGOR</a></p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </div>
</section>


