<%- include ("partials/accountheader") -%>
<body>
<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h3>About us</h3>
        <div class="site-pagination">
            <a href="/index">Home</a> /
            <a >About us</a>
        </div>
    </div>
</div>

<!-- Page info end -->
<section class="contact-section">
<div class="container">
    <div class="row">
        <div class="col-lg-9 contact-info">
    <h4>Our Story</h4>
            </br>

            <p>Shopoint is created by ALGOR. We envision a world where students and brands work together to build a better future.</p>

            <p>Shopoint is short for “shopping point” in Australia. “shopping point” refers to a fashion point or website where welcomes all the student to shop and get the student discount.</p>

            <p>We are working to improve the lives of students by reducing their spending on fashion.</p>
            <br><br>

        </div>
    </div>
</div>
</section>
</body>


<%- include ("partials/script") -%>
<%- include ("partials/footer") -%>