
<%- include ("partials/accountheader") -%>  

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="/css/editprofile.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

<% if (message == "1") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successfully Updated</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% }%> 
<% if(message == "2") { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Wrong Password!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% }%> 
<% if (message == "3") { %>
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>Incomplete Data</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% }%> 


<div class="container">
    <div class="row">
      <div class="col col-sm-3 col-md-3 col-md-3">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/editprofile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Change Password</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Email and SMS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Push Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Manage Contacts</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Privacy and Security</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Login Activity</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Email Subscription</a>
            </li>
          </ul>
      </div>

    <div class="col col-sm-9 col-md-9 col-xl-9">
            <div class="editprofile">
                <form action= "/changepassword/" method= "POST">
                    <div class="form-group row">
                        <label for="changepassword" class="col-sm-5 col-form-label">Change Password</label>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Old Password</label>
                        <div class="col-sm-5">
                        <input type="password" class="form-control form-control-sm" id="password" name="password" minlength="5">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control form-control-sm" id="newpassword" name="newpassword" minlength="5">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Confirm New Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control form-control-sm" id="cnewpassword" name="cnewpassword" minlength="5">
                        </div>
                    </div>

                    <div class="bposition">
                    <button type="submit" class="btn btn-outline-dark btn-sm"> Update Password</button>
                    <button type="reset" class="btn btn-outline-dark btn-sm" > Reset </button>
                    </div>
                
                </form>
                
            </div>
      </div>
</div>

</div>
<br>
<div class="container">
  <div class="row">
    
    <a class="btn btn-outline-dark btn-sm" href="/index" role="button">Back to Main Page</a>
    
  </div>
</div>


<%- include ("partials/script") -%>
<%- include ("partials/footer") -%>

<script>

var newpassword = document.getElementById("newpassword"),
confirm_password = document.getElementById("cnewpassword"),
password = document.getElementById("password"); 


function validatePassword(){
  if(newpassword.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}


newpassword.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;



</script>











    
    

