
body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: #071c4a;
	text-align: center;
}

h2 {
	color: #071c4a;
	text-align: center;
}

h3 {
	color: #071c4a;
	text-align: center;
}
a {
	text-align: center;
}


button {
	display:inline-block;
	cursor:pointer;
	color: #829e5c;
	font-size:15px;
	background-color:white;
	border-radius:5px;
	border:1px solid #829e5c;
	font-weight: bold;
}

button:hover {
	background-color:#829e5c;
	color: white;
}

a{
	color: grey;
}

a:hover{
	font-weight: bolder;
	color: #829e5c;
}

span{
	color: grey;
}

input {
	/* In order to define widths */
	display: inline-block;
	background-color:lightgrey;
	border-radius:5px;
	border:1px solid grey;
	cursor:pointer;
	font-size:15px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.loginform{
	/*darken the background*/
	background:
			linear-gradient(
					rgba(0, 0, 0, 0.1),
					rgba(0, 0, 0, 0.1)
			),
			url("/image/signin&register/login-background.jpg");
	background-size: cover;
}

.login {
	text-align: center;
}

.loginform-wrapper{
	position: relative;
	background: #f4f3f1;
	width: 300px;
	height: 430px;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	text-align: center;
}

.login input[type=text], .login input[type=password] {
	width: 20%;
	margin: 5px 0;
	border: 2px solid #ccc;
	box-sizing: border-box;
	display: inline-block;
}

.loginform input {
	/* In order to define widths */
	display: inline-block;
	padding: 12px 30px;
	right:580px;
	background-color:lightgrey;
	border-radius:5px;
	border:1px solid grey;
	color : #5e5e5c;
	font-size:15px;
	font-weight: bold;
}

.loginform button {
	padding: 12px 95px;
	right: 580px;
}

.signup{
	display: inline-block;
	background:
			linear-gradient(
					rgba(0, 0, 0, 0.7),
					rgba(0, 0, 0, 0.7)
			),
			url("/image/signin&register/register-background.jpg");
	background-size: cover;
}

.signup h2{
	color: #829e5c;
	font-size: 35px;
}

.signup form{
	position: absolute;
	right: 200px;
	top: -70px;
	width: 500px;
	height: 700px;
	background: #f4f3f1;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	text-align: center;
	float: right;
}

.signup input {
	/* In order to define widths */
	display: inline-block;
	text-align: left;
	position: relative;
	padding: 6px 15px;
	color: dimgrey;
	background-color:#e1e6e2;
}

.signup label {
	width: 30%;
	color: dimgrey;
	/* Positions the label text beside the input */
	position: relative;
	text-align: left;
	display: inline-block;
}

.signup #birthday{
	padding: 6px 30px;
}

.signup button {
	padding: 14px 95px;
	border-radius: 5px;
	position: relative;

}

input[type="date"]::-webkit-clear-button {
	display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

/* A few custom styles for date inputs */
input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	visibility: visible;
}

.signup .mySlides{
	position: absolute;
	border-radius: 1.5em;
	right: 720px;
	top: 45px;
	width: 500px;
	height: 700px;
}


footer {
	display: inline-block;
	position: relative;
	left: -15px;
	bottom: -10px;
	height: 100px;
	width: 102%;
	color: antiquewhite;
	text-align: center;
}